#container{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto;
    row-gap: 1px;
    column-gap: 1px;
    width: 400px;
    height: 200px;
    background-color: rgb(95, 93, 93);
}
#container > div{                
    text-align: center;
    color: greenyellow;
    border-radius: 10px;
}
.up{                
    font-size: 80px;
    background-color: rgb(40, 39, 39); 
    overflow: hidden; 
    transition: transform 2s;                                      
}
.up p{                
    margin: 0;
    transform:translateY(55px)                
}
.down{                 
    font-size: 80px;          
    background-color: black;
    overflow: hidden;   
}
.down p{                
    margin: 0;
    transform:translateY(-45px)
}
#watch2{
    color: red;
    font-size: 40px;
    background-color: black;
    font-family: 'Wallpoet';
    width: 50%;
}
#stopwatch{
    border: 1px solid black;
    width: 50%;
}